body {
  background: rosybrown;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label {
  display: block;
}

input, select {
  width: 100%;
}